
.header-wrap {
    display: flex;
    flex-direction: row;
    padding: 3% 3% 0 3%;
    justify-content: space-between;
}

.header-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: #432E2A;
    text-transform: uppercase;
}

.header-link.active{
    color: #F93B77;
}

.header-cart{
    position: relative;
}

.cart-count{
    position: absolute;
    right: -10%;
    bottom: 20%;
    background-color: #ff4444;
    color: white;
    aspect-ratio: 1/1;
    width: 70%;
    padding: 3px;
    text-align: center;
    border-radius: 50px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}