.slider-container {
    overflow: hidden;
    width: 100%;
    margin-top: 3rem;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.slider-track > * {
    padding: 0 8px;
    font-size: 40px;
    font-weight: normal;
    white-space: nowrap;
}


@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}